.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.navbar > div {
    display: block;
}
.navbarItem {
    font-size: 1.5rem;
}
.githubIcon {
    transform: scale(1.5);
}