.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 640px;
    margin: auto;
    padding: 1rem;
}
.navbar > div {
    display: block;
}
.navbarItem {
    font-size: 1.5rem;
}
.githubIcon {
    transform: scale(1.5);
}
.footer {
    display: flex;
    place-content: end;
    max-width: 640px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}